/*горизонтально меню (списком)
картинку в качестве фона элемента body (зафиксирована, рассмотреть backgound-image, -repeat, -position, -attachment, -size)
сверстать страницу с отображением статей (3-4, дргу под другом, каждый блок в себ€ включает - 1 строка зголовок,
 второа€ - им€ автора . дата публикации, им€ должно быть ссылкой, а так же выделено цветом), 3 строка - картинка,
 4 строка - текст статьи, 5 строка читать далее - ссылку оформить в виде кнопки, использу€ стили)*/
li {
	margin:10px;
	float:left;
	list-style-type:circle;
	}
	
ul {
		background-color:#ffffff;
		overflow:hidden;
	}

div {
	background-color:#ffffff;
	}
	
	
body{
	background-image:url(../images/forsane.png);
	}